*{
    box-sizing: border-box;
}
header{
    padding: 1%
}
nav{
    background: gainsboro;
    min-height: 40px;
    padding: 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: sticky;
    top: 0;
}
section {
    min-height: 200px;
    padding: 1%;
    background-color: gray;
}
  
section:nth-child(even) {
    background-color: gainsboro;
}
div{
    padding: 2px;
    margin: 2px;
}
img{
    width: 100%;
}
li:nth-child(odd){
    background-color: gainsboro;
}
.prjContainer{
    display: flex;
    flex-direction: column;
}
.prjTitleContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media screen and (min-width: 600px){
    body{
        width: 85%;
        margin-left: auto;
        margin-right: auto;
    }
    section{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .prjInfoContainer{
        display: flex;
        flex-direction: row;
    }
    .prjDescription{
        width: 60%;
    }
    .prjTech{
        width: 40%;
    }
}