*{
    box-sizing: border-box;
}
/* HEADER STYLES */
h1{
    font-family: 'Vollkorn', serif;
    font-size: 60px;
    margin-left: 8%;
    color: #DD2E30;
}
header{
    padding: 2%;
    background-image: url(images/headerImg.JPG);
    background-size: cover;
    background-position: center;
}
.opacityBox{
    height: 100%;
    width: 100%;
    padding: 1%;
    background-color: rgba(255,255,255, .8);
    border-radius: 2px;
    line-height: 0.9;
}
.headerText{
    font-family: 'Crimson Pro', serif;
    font-size: 30px;
    color: #DD2E30;
}
.hT1{
    margin-left: 5%;
    margin-top:8px;
    margin-bottom: 12px;
}
.hT2{
    margin-left: 17%;
    margin-bottom: 8px;
}
/* NAV STYLES */
nav{
    background: white;
    min-height: 40px;
    padding: 1.5%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: sticky;
    top: 0;
}
input[type=button]{
    width: 32%;
    font-family: 'Crimson Pro', serif;
    font-size: 22px;
    padding: 1%;
    background: transparent;
    border-radius: 2px;
}
#projectBtn{
    border: solid 2px #1B626A;
    color:#2B9DA9;
}
#aboutBtn{
    color: #DD2E30;
    border: solid 2px #A62324;
}
#linksBtn{
    color: #F79C33;
    border: solid 2px #D8892D;
}

/* MAIN STYLES*/
section {
    min-height: 200px;
    padding: 1%;
    background-color:white;
    border-radius: 2px;
}
.projSect{
    border: solid 2px #1B626A;
}
.aboutSect{
    border: solid 2px #A62324;
}
.linksSect{
    border: solid 2px #D8892D;
}
h2{
    font-family: 'Crimson Pro', serif; 
    padding: 1%;
    font-size: 36px;
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.projTitle{
    color: #2B9DA9;
    border-bottom: solid 2px #1B626A;
}
div{
    padding: 2px;
    margin: 2px;
}
img{
    width: 100%;
}
li:nth-child(odd){
    background-color: gainsboro;
}
.prjContainer{
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    background: whitesmoke;
    margin: 1.5%;
    padding: 2%;
    border-radius: 2px;
}
.prjTitleContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1%;
    border-bottom: solid 2px #1B626A;
}
h3{
    font-size: 30px;
    font-weight: bold;
}
.prjLinks{
    display: inline-block;
    border: #1B626A solid 2px;
    border-radius: 2px;
    text-decoration: none;
    padding: 4px;
    color: #2B9DA9;
}
h4{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 8px;
}
.prjScreencap{
    border: #1B626A solid 2px;
    border-radius: 2px;
}
.aboutTitle{
    color: #DD2E30;
    border-bottom: solid 2px #A62324;
}
.linksTitle{
    color: #F79C33;
    border-bottom: solid 2px #D8892D; 
}
.aboutContainer{
    font-family: 'Nunito', sans-serif;
    display: flex;
    flex-direction: column;
    background: whitesmoke;
    margin: 1.5%;
    padding: 1%;
    border-radius: 2px;
}
.aboutInnerContainer{
    display: flex;
    flex-direction: column;
    padding: 1%;
    font-size: 18px;
    line-height: 1.1;
}
.headShot{
    height: 250px;
    width: 150px;
    float: left;
    margin-right: 12px;
}
.externalLinks{
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.linkImage{
    max-height: 190px;
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;
}
@media screen and (min-width: 600px){
    h1{
        font-size: 72px;
    }
    .headerText{
        font-size: 36px;
    }
    input[type=button]{
        font-size: 24px;
    }
    section{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .prjInfoContainer{
        display: flex;
        flex-direction: row;
    }
    .prjDescription{
        width: 60%;
    }
    .prjTech{
        width: 40%;
    }
    .headShot{
        height: 350px;
        width: 210px;
    }
    input[type=button]{
        width: 25%;
    }
    .aboutInnerContainer{
        font-size: 20px;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }
    .externalLinks{
        width: 50%;
    }
}